.app{
  text-align: center;
}

.header {
  background-color: #2874f0;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}
main {
  padding: 1rem;
  padding-top: 56px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 280px;
}
.product_info {
  padding: 1rem;
}
.space {
  height: 100%;
  min-width: 124px;
}
.logo {
  display: block;
  flex-direction: column;
}
.plus {
  font-size: 11px;
  font-style: italic;
  margin-top: -1px;
}
.plusColor{
  color:#ffe500;
}
.main_header{
  display: flex;
}
.search{
  margin:0 auto 0 12px;
  align-items: center;
}
.search_product{
  height:95%;
  border: none;
  border-radius :2px;
}
.header__first{
padding-right: -100px;
display: flex;
align-items: center;
padding-left: 120px;
flex-direction: column;
}
.header__second{
  align-items: center;
  display: flex;
  justify-content: flex-end;
    border: 1px solid #fff;
    background-color: #fff;
}

.header__four{
  display: flex;
  align-items: center;
}
.header__five{
  display: flex;
  align-items: center;

}